[submodule "utils/pyLR1"]
	path = utils/pyLR1
	url = https://github.com/zombofant/pyLR1
	branch = master
[submodule "CEngine/Contrib/BinPack"]
	path = CEngine/Contrib/BinPack
	url = https://github.com/zombofant/RectangleBinPack
