[submodule "data"]
	path = data
	url = ssh://git.sotecware.net/PythonicUniverse-data
	branch = devel
[submodule "docs"]
	path = docs
	url = ssh://git.sotecware.net/PythonicUniverse-docs
	branch = devel
[submodule "utils/pyLR1"]
	path = utils/pyLR1
	url = https://github.com/pyuniverse/pyLR1
	branch = master
[submodule "cpphost/Contrib/BinPack"]
	path = cpphost/Contrib/BinPack
	url = https://github.com/pyuniverse/RectangleBinPack
