[submodule "data"]
	path = data
	url = ssh://git.sotecware.net/PythonicUniverse-data
	branch = devel
[submodule "docs"]
	path = docs
	url = ssh://git.sotecware.net/PythonicUniverse-docs
	branch = devel
[submodule "utils/pyLR1"]
	path = utils/pyLR1
	url = https://github.com/sebastianriese/pyLR1
	branch = master
